.menu {
    display: grid;
    position: relative;
    grid-template-columns: repeat(2, 45%);
    margin-top: 1px;
    grid-gap: 40px;
    padding: 5%;
}
.food-img {
    height: 200px;
    width: 200px;
    box-shadow: 0 30px 40px rgba(0,0,0,.1);
    border-radius: 10%;
}

.menu-item {
    display:flex;
    flex-flow: column;
    align-items: center;
    padding: 15px;
    word-wrap: break-word;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgba(145, 111, 60, 0.6)
}